<!Doctype html>
<html lang="ru">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge" >
    <title>Погодное приложение</title>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">KIRILL WEATHER APP</h5>
  <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Information</a>
  </nav>
    {% if user.is_authenticated %}
    <a class="btn btn-outline-primary" href="{% url 'user_profile' %}">{{ user.username }}</a>
    {% else %}
    <a class="btn btn-outline-primary" href="{% url 'login' %}">Login</a>
    {% endif %}
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-5 offset-1">
            <h1>Choose the city</h1>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.name }}
                <input type="submit" name="send" value="Search" class="mt-2 btn btn-danger">
            </form>
        </div>

        <div class="col-3 offset-1">
            <h1>Information:</h1>

            <div class="alert alert-info">
                <div class="row">
                    <div class="col-9.5">
                            <b>City: </b>{{ info.city }}<br>
                            <b>Temperature: </b>{{ info.temp }}<sup>o</sup><br>
                            <b>Wind: </b>{{ info.wind }}<sup>м/с</sup><br>
                    </div>
                    <div class="col-2 offset-0.5">
                            <img src="http://openweathermap.org/img/w/{{ info.icon }}.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>